<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--ApplicationContext-->
    <bean id="context" class="com.taoBaby.utils.SpringUtils" factory-method="getContext"/>

    <!--数据库连接-->
    <bean id="conn" class="com.taoBaby.utils.DBUtils" factory-method="getConn"/>

    <!--Dao层-->
    <bean id="userDao" class="com.taoBaby.dao.impl.UserDaoImpl">
        <constructor-arg name="conn" ref="conn"/>
    </bean>
    <bean id="brandDao" class="com.taoBaby.dao.impl.BrandDaoImpl">
        <constructor-arg name="conn" ref="conn"/>
    </bean>
    <bean id="carouselfigureDao" class="com.taoBaby.dao.impl.CarouselfigureDaoImpl">
        <constructor-arg name="conn" ref="conn"/>
    </bean>
    <bean id="orderDao" class="com.taoBaby.dao.impl.OrderDaoImpl">
        <constructor-arg name="conn" ref="conn"/>
    </bean>
    <bean id="orderProductDao" class="com.taoBaby.dao.impl.OrderProductDaoImpl">
        <constructor-arg name="conn" ref="conn"/>
    </bean>
    <bean id="productDao" class="com.taoBaby.dao.impl.ProductDaoImpl">
        <constructor-arg name="conn" ref="conn"/>
    </bean>
    <bean id="productTypeDao" class="com.taoBaby.dao.impl.ProductTypeDaoImpl">
        <constructor-arg name="conn" ref="conn"/>
    </bean>
    <bean id="receiveingAddressDao" class="com.taoBaby.dao.impl.ReceiveingAddressDaoImpl">
        <constructor-arg name="conn" ref="conn"/>
    </bean>
    <bean id="searchHistorysDao" class="com.taoBaby.dao.impl.SearchHistorysDaoImpl">
        <constructor-arg name="conn" ref="conn"/>
    </bean>
    <bean id="shopCartDao" class="com.taoBaby.dao.impl.ShopCartDaoImpl">
        <constructor-arg name="conn" ref="conn"/>
    </bean>
    <bean id="shopCartProductDao" class="com.taoBaby.dao.impl.ShopCartProductDaoImpl">
        <constructor-arg name="conn" ref="conn"/>
    </bean>

    <!--Service层-->
    <bean id="userService" class="com.taoBaby.service.impl.UserServiceImpl"/>
    <bean id="brandSerivce" class="com.taoBaby.service.impl.BrandSerivceImpl"/>
    <bean id="carouselfigureService" class="com.taoBaby.service.impl.CarouselfigureServiceImpl"/>
    <bean id="orderProductService" class="com.taoBaby.service.impl.OrderProductServiceImpl"/>
    <bean id="orderService" class="com.taoBaby.service.impl.OrderServiceImpl"/>
    <bean id="productService" class="com.taoBaby.service.impl.ProductServiceImpl"/>
    <bean id="productTypeService" class="com.taoBaby.service.impl.ProductTypeServiceImpl"/>
    <bean id="receiveingAddressService" class="com.taoBaby.service.impl.ReceiveingAddressServiceImpl"/>
    <bean id="searchHistorysService" class="com.taoBaby.service.impl.SearchHistorysServiceImpl"/>
    <bean id="shopCartProductService" class="com.taoBaby.service.impl.ShopCartProductServiceImpl"/>
    <bean id="shopCartService" class="com.taoBaby.service.impl.ShopCartServiceImpl"/>


</beans>